{% macro nav(request, project_logo, project, links=[], auth=True) -%}
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{ project_logo | safe }} {{ project }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    {% for item in links %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav">
                    <form class="form-inline my-2 my-md-0 mr-2 ml-2" action="/search">
                       <div class="input-group">
                           <input id="search" class="form-control" name="q" type="text" placeholder="Search">
                           <!--Search button-->
                           <div class="input-group-append">
                               <button type="submit" class="btn btn-secondary">
                                   <span class="oi oi-magnifying-glass" title="Help" aria-hidden="true"></span>
                               </button>
                           </div>
                       </div>
                    </form>
                    {% if (request and auth and "admin" in request.auth.scopes) or not auth %}
                    <li class="nav-item align-self-center">
                        <span class="nav-link oi oi-cloud-upload" title="Upload" aria-hidden="true" data-toggle="modal" data-target="#uploadModal">
                        </span>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/help">
                            <span class="oi oi-question-mark" title="Help" aria-hidden="true">
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/docs">API</a>
                    </li>
                </ul>
                {% if auth %}
                <ul class="nav navbar-nav">
                    <li id="me" class="nav-item">
                        <a class="nav-link" href="/me">
                            <span class="oi oi-person" title="Me" aria-hidden="true">
                            </span>
                        </a>
                    </li>
                    <li id="logout" class="nav-item">
                        <a class="nav-link" href="/logout">
                            <span class="oi oi-account-logout" title="Logout" aria-hidden="true">
                            </span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
    </div>
</nav>
{%- endmacro %}