nav.navbar{margin-bottom:10px;}

a.page_name {
text-decoration: none;
}

div.excerpt{
  max-height: 3.6em;
  line-height: 1.8em;
  overflow: hidden;
}

span.splash-logo{
    font-size:4em;
}

.footer-menu{
width:100%;
text-align: center;
padding-left: 0;
padding-right: 0;
padding-top: .25rem;
padding-bottom: .25rem;

}
