fastapi==0.63.0
fastapi_aad_auth==0.1.19
pydantic[dotenv,email]==1.7.3
aiofiles
itsdangerous
sqlalchemy
uvicorn
werkzeug
jinja2
python-multipart
requests
sphinx
beautifulsoup4
psycopg2-binary
sphinx_github_changelog
ruamel.yaml