{% extends "fastapi_aad_auth.ui:base.html"}
{% block CSS %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/docserver.css">
        <link href="/static/css/open-iconic-bootstrap.css" rel="stylesheet">
        {% block PageStyles %}
        {% endblock PageStyles %}
{% endblock CSS %}
{% block HeadScripts %}
        {{ super() }}
        <script type="text/javascript" src="/static/js/lunr.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock HeadScripts %}
{% block Nav %}
        {{ nav | safe }}
{% endblock Nav %}
{% block Content %}
        <div class='container'>
            {% block Container %}
            {% endblock Container %}
        </div><!-- /.container-fluid -->
{% endblock Content %}
{% block Footer %}
        <footer>
            {% block FooterContent %}
            {% endblock FooterContent %}
        </footer>
{% endblock Footer %}
{% block BodyScripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/searchindex.js"></script>
        <script src="/static/js/search.js"></script>
{% endblock BodyScripts %}
