{% extends layout_template if defined else "base.html" %}
{% from "docserver.ui.templates.components:packageCard.jinja" import packageCard %}

{% block HeadScripts %}
        {{ super() }}
        <script type="text/javascript" src="https://unpkg.com/popper.js"></script>
{% endblock HeadScripts %}
{% block Container %}
<div class="row">
  {% for package in packages %}
    {{ packageCard(request, package) }}
  {% endfor %}
</div>
{% block DeletePackageModal %}
<!-- Delete Package modal -->
<div class="modal fade" id="deletePackageModal" tabindex="-1" role="dialog">
    <form action="/_delete/package" method=POST>
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Delete Package?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <input type="text" class="form-control" name="packageName" id="deletePackage_PackageName" required hidden>
            <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </div>
    </form>
</div>
{% endblock DeletePackageModal %}
{% block DeleteVersionModal %}
<!-- Delete version modal -->
<div class="modal fade" id="deleteVersionModal" tabindex="-1" role="dialog">
    <form action="/_delete/version" method=POST>
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Delete Version?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <input type="text" class="form-control" name="packageName" id="deleteVersion_PackageName" required hidden>
            <input type="text" class="form-control" name="version" id="deleteVersion_Version" required hidden>
            <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </div>
    </form>
</div>
{% endblock DeleteVersionModal %}
{% block ModalScripts %}
<script>
  $('#deletePackageModal').on('show.bs.modal', function (event) {
    var obj = $(event.relatedTarget)
    console.log(obj)
    var package = obj.data('package')
    var modal = $(this)
    modal.find('.modal-title').text('Delete package: ' + package + '?')
    $('#deletePackage_PackageName').val(package)
  })
  $('#uploadModal').on('show.bs.modal', function (event) {
    var obj = $(event.relatedTarget)
    var packageName = obj.data('packagename')
    var repositoryUrl = obj.data('repositoryurl')
    var tags = obj.data('tags')
    var description = obj.data('description')
    var permission = obj.data('permission')
    $('#packageName').val(packageName)
    $('#repositoryUrl').val(repositoryUrl)
    $('#tags').val(tags)
    $('#description').val(description)
    $('#permission').val(permission)
  })
  $('#deleteVersionModal').on('show.bs.modal', function (event) {
    var obj = $(event.relatedTarget)
    console.log(obj)
    var package = obj.data('package')
    var version = obj.data('version')
    var modal = $(this)
    modal.find('.modal-title').text('Delete documentation version: ' + version + ' of ' + package + '?')
    $('#deleteVersion_PackageName').val(package)
    $('#deleteVersion_Version').val(version)
  })
</script>
{% endblock ModalScripts %}
{% endblock Container %}

