{% extends "base.html" %}

{% block page_styles %}
<link rel="stylesheet" href="/static/css/cover.css">
{% endblock page_styles %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center justify-content-center">
    <main class="inner-cover">
        <p class="lead">
            <span class="oi oi-book splash-logo mb-4" title="Docserver" aria-hidden="true"></span>
            <h1 class="h2">{{server_title}}</h1>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {{ login | safe }}
        </p>
        <p class="mt-5 mb-3 lead text-muted">© {{ copyright }}</p>

    </main>
</div>

{% endblock content %}